@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

.Game {
    max-width: 1200px;
    margin: 40px auto;
    background-color: #1b1523;
    font-family: Raleway, sans-serif;
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }
  .Game > *{
    flex: 1 1 100px
  }
  .Game h1{
    color: #ffffffc8;
  }
  button {
    background: none;
    border: 2px solid #ffffff;
    padding: 6px 12px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
  }
  button:hover {
    background: #c23866;
    color: #fff;
  }
  .card-grid{
    max-width: 860px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  